.main-container{
    width: 75%;
    height: 500px;
    background-color: lightblue;
    margin: 0 auto;
    border-radius: 20px;
}

h1{
    width: fit-content;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 70px;
}

.get-btn {
    display: block;
    margin: 0 auto;
    margin-bottom: 70px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    transition: .1s linear;
    background: #0B63F6;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: none;
}

.get-btn:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 4px #3C82F8;
}

.display-data{
    min-height: 40px;
    min-width: 300px;
    width: fit-content;
    max-height: 200px;
    max-width: 600px;
    display: block;
    margin: 0 auto;
}